@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
// COLORS
$almost-white: hsl(0, 0%, 98%);
$almost-black: hsl(0, 0%, 8%);
$black-modal: hsl(0, 0%, 0%, 50%);
//        Primary
$Soft_orange: hsl(35, 77%, 62%);
$Soft_red: hsl(5, 85%, 63%);
//        Neutral
$Off_white: hsl(36, 100%, 99%);
$Grayish_blue: hsl(233, 8%, 79%);
$Dark_grayish_blue: hsl(236, 13%, 42%);
$Very_dark_blue: hsl(240, 100%, 5%);

// FONTS
$Font_size_paragraph: 15px;
$Font-family: "Inter", sans-serif;
// DIMENSIONS
$Width-mobile: 20.3125rem;
$Height-mobile: 606.25rem;
$Width-desktop: 71.8125rem;
$Height-desktop: 52.875rem;
$Width-media: 90.625rem;
